<h2 mat-dialog-title>{{(this.isEditing() ? "Edit" : "Create") + " Customer"}}</h2>

<form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="createCustomerForm.controls.firstName.hasError('required')">
        First name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="createCustomerForm.controls.lastName.hasError('required')">
        Last name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="createCustomerForm.controls.email.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="createCustomerForm.controls.email.hasError('email')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" />
      <mat-error *ngIf="createCustomerForm.controls.phoneNumber.hasError('pattern')">
        Please enter a valid phone number.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="createCustomerForm.invalid || isSaving"> Save
    </button>
  </mat-dialog-actions>

</form>